.keyword {
    color: blue;
}

.operator {
    color: green;
}

.identifier {
    color: gold;
}

.invalid {
    color: white;
    background-color: red;
}

.delimiter {
    color: brown;
}

.number {
    color: yellow;
}

.paragraph + .paragraph {
    border-top: 1px solid gray;
    padding-top: 20px;
    margin: 0 0 20px 0;
}

