body {
    background-color: #010048;
}

p {
    color: white;
}

.keyword {
    background-color: blue;
}

.eq, .not_eq, .less_eq, .more_eq, .and, .or {
    background-color: green;
}

.identifier {
    background-color: gold;
}

.invalid {
    background-color: red;
}

.number {
    background-color: purple;
}

.doc {
    outline: none;
}

.l_brace, .r_brace {
    background-color: brown;
}
