.entity {
    color: blue;
}

.operator {
    color: green;
}

.value {
    color: red;
}

.brace {
    color: purple;
}

.paragraph + .paragraph {
    border-top: 1px solid gray;
    padding-top: 20px;
    margin: 0 0 20px 0;
}

